/*==== Theme Options ====*/
body:not(.wp-admin), #site-editor {
    /*==== Global ====*/
    --body-bg: #F7F9FC;

    /*==== Primary Color ====*/
    --primary-color: var(--wp--preset--color--primary);
    --primary-hover: var(--wp--preset--color--primary-hvr);
    --primary-reverse: var(--wp--preset--color--primary-txt);
    --primary-offwhite: var(--wp--preset--color--primary-offwhite);
    --primary-dark: var(--wp--preset--color--primary-dark);

    /*==== Secondary Color ====*/
    --secondary-color: var(--wp--preset--color--secondary);
    --secondary-dark: var(--wp--preset--color--secondary-dark);
    --secondary-hover: var(--wp--preset--color--secondary-hvr);
    --secondary-reverse: var(--wp--preset--color--secondary-txt);
    --secondary-offwhite: var(--wp--preset--color--secondary-offwhite);

    /*=== Assets Colors ====*/
    --links-color: var(--wp--preset--color--links);
    --info-color: var(--wp--preset--color--info);
    --gray-color: var(--wp--preset--color--gray);
    --dark-color: var(--wp--preset--color--dark);
    --success-color: var(--wp--preset--color--success);
    --danger-color: var(--wp--preset--color--danger);
    --warning-color: var(--wp--preset--color--warning);
    --disable-color: var(--wp--preset--color--disable);

    /*=== Assets Lighter ====*/
    --info-light: var(--wp-preset-color--info-offwhite);
    --gray-light: var(--wp-preset-color--gray-offwhite);
    --dark-light: var(--wp-preset-color--dark-offwhite);
    --success-light: var(--wp-preset-color--success-offwhite);
    --danger-light: var(--wp-preset-color--danger-offwhite);
    --warning-light: var(--wp-preset-color--warning-offwhite);

    /*=== Typography Colors ===*/
    --typography-color: var(--wp-preset-color--text);
}

/*==== Addtional Colors ====*/
.border-offwhite {border: 1px solid #E1EEF7;}
.bg-primary-dark {background-color: var(--primary-dark);}
.bg-secondary-dark {background-color: var(--secondary-dark);}
.color-primary-dark {background-color: var(--primary-dark);}
.color-secondary-dark {background-color: var(--secondary-dark);}

/*==== Fix Button Text ====*/
.btn {line-height: calc(var(--height) - 2px);}

/*==== Backdrop [Overlay] Opacity ====*/
.overlay-dark::before {opacity: 0.75;}

/*==== Links List ====*/
.links-inherit a {color: inherit;}

.links-list li {
    margin-bottom: 10px;
    @extend %fast-motion;
    @include padding-inline(10px, 'start');
    /*==== Links ====*/
    a {
        color: inherit;
        @extend %fast-motion;
    }
    /*==== Hover ====*/
    &:hover {
        color: var(--primary-hover);
        @include padding-inline(5px, 'start');
    }
    /*==== Icon ====*/
    &::before {
        content: "\f0c1";
        @extend %inline-block;
        margin-#{$direction-end}: 8px;
        color: var(--primary-hover);
        font-family: var(--icons-font);
    }
}

/*==== Widget Divider Fix ====*/
.divider-b:last-child {border-bottom: 0 none;}

/*==== Colored icons ====*/
.icon-primary::before {color: var(--primary-color);}

/*==== Breadcrumb Divider ====*/
.px-breadcrumb.custom-icon {--divider-icon : '\f101';}

/*==== Checklist ====*/
.check-list li {
    margin-bottom: 10px;
    @extend %fast-motion;
    @include padding-inline(10px, 'start');
    /*==== Icon ====*/
    &::before {
        @extend %inline-block;
        content: "\f058";
        margin-#{$direction-end}: 8px;
        color: var(--success-color);
        font-family: var(--icons-font);
    }
}

/*==== Defines Sizes ====*/
$header-height: 60px;

%sticky-element {
    position: -webkit-sticky;
    position: sticky;
    top: $header-height;
}

/*==== Header ====*/
.main-header.is-sticky {z-index: var(--header-index);}

/*==== Navigator ====*/
.navigator-menu {
    overflow-y: auto;
    @extend %sticky-element;
    background-color: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
    /*==== Size ====*/
    @include large() {height: calc(100vh - #{$header-height})};

    /*==== Search ====*/
    .search-form {
        padding: 15px;
        @include large() {padding: 15px 20px};
    }

    /*==== Control Wraper ====*/
    .control-wraper {
        position: relative;
        width: calc(100% - 51px);
        @include large() {width: 100%;}
        /*==== Controler ====*/
        input {
            @extend %reset-control;
            width: 100%;
            padding-left: 35px;
            padding-right: 15px;
            border-radius: 5px;
            background-color: #F6F6F6;
            height: REM(36);
            font-size: 13px;
            @include large() {
                height: 40px;
                font-size: 14px;
            }
        }
        /*==== Icon ====*/
        &::before {
            opacity: 0.3;
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            font-size: 12px;
            @include large() {font-size: 14px;}
        }
    }

    /*==== Main Menu ====*/
    .main-menu {
        font-size: 15px;
        line-height: 30px;
        transition: all 0.3s;
        font-weight: var(--medium-weight);
        border-bottom: 1px solid rgba(#000, 0.1);
        /*==== Items ====*/
        li {
            margin: 0;
            padding: 3px 20px;
            /*==== Menu Icons ====*/
            > a::before {
                top: -1px;
                content: '';
                width: 1.5em;
                height: 1.5em;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                background-size: 100% auto;
                background-position: center;
                background-repeat: no-repeat;
                margin-#{$direction-end}: 5px;
            }
            &:nth-child(1) > a::before {background-image: url('assets/img/px-logo/pds-icon.svg');}
            &:nth-child(2) > a::before {background-image: url('assets/img/px-logo/px-blocks-icon.svg');}
            &:nth-child(3) > a::before {background-image: url('assets/img/px-logo/phenix-icon.svg');}
        }
    }

    /*==== Docs Menu ====*/
    .px-navigation {
        /*==== Options ====*/
        --height : 28px;
        --background-hvr: transparent;
        --font-weight: var(--medium-weight);
        /*==== Custom CSS ====*/
        padding: 10px;
        /*==== Direct Items ====*/
        > ul > li {
            margin-bottom: 0;
            /*==== Dropdown Icons ====*/
            > a::before {
                float: none;
                font-size: 1.1em;
                margin-#{$direction-end}: 7px;
            }
            /*==== Submenus ====*/
            .submenu {
                --height : 28px;
                --color-hvr : var(--dark-color);
                font-weight: normal;
                padding-top: 0!important;
                padding-bottom: 0!important;
                margin-#{$direction-start}: 20px;
            }
            /*==== Active ====*/
            &.px-item-active {
                color: var(--primary-color);
                > a::before {
                    content: '\f07c';
                    font-weight: 600;
                }
            }
        }
    }

    /*==== Responsive ====*/
    @include medium('down') {
        background-color: var(--primary-color);
        .menus-wraper {
            padding-top: 15px;
            padding-bottom: 30px;
            background-color: #fff;
            overflow-y: scroll;
            max-height: calc(100vh - (60px + 64px));
        }
    };
}

/*==== Page Secitons ====*/
.on-page-menu {
    background-color: #fcfcfc;
    padding: 15px 20px;
    overflow-y: auto;
    @extend %sticky-element;
    /*==== Size ====*/
    @include large() {height: calc(100vh - #{$header-height})};

    /*==== Title ====*/
    h3 {
        font-weight: var(--medium-weight);
        font-size: 14px;
        line-height: 1;
        margin-bottom: 5px;
    }
    /*==== Submenus ====*/
    ul {
        @extend %reset-list;
        display: block;
        padding-left: 5px;
        font-size: 14px;
        line-height: 1.3;
        color: var(--gray-color);
        &.scrollspy-menu {margin-left: 5px;}
        /*==== Links ====*/
        a {
            color: inherit;
            transition: all 0.5s;
        }
        /*==== Items ====*/
        li {
            padding-top: 5px;
            padding-bottom: 5px;
            ul {margin-bottom: -5px;}
        }
        /*==== Current Item ====*/
        .px-active > a, li:hover > a {
            font-weight: var(--medium-weight);
            color: var(--dark-color);
        }
    }
}

/*==== Content Side ====*/
.content-side {
    padding-top: 20px;
    padding-bottom: 15px;
    //====> Space Fix <====//
    @include large() {padding: 30px!important;}
    .docs-list {
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
        line-height: 1.4;
        li {margin-bottom: 5px;}
    }

    /*==== Typography ====*/
    h1,h2,h3,h4,h5 {
        &:not(.strong-weight) {font-weight: var(--medium-weight);}
    }
    
    > h1, > .h1 {font-size: 2rem;}
    
    > h2, > .h2 {
        margin-bottom: 10px;
        font-size: 1.75rem;
    }
    
    > h3, > .h3 {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    > h4, > .h4 {
        margin-bottom: 5px;
        font-size: 1.2rem;
    }
    
    > h4 + .enlighter-default {margin-top: 10px;}
    /*==== Images ====*/
    img {max-width: 100%;}

    sub {
        position: relative;
        top: -1px;
    }

    /*==== KBD ====*/
    kbd{
        padding: 3px 5px;
        line-height: 1;
        font-size: 0.75em;
        border-radius: 3px;
        background-color: var(--dark-color);
        color: #FFFFFF;
        vertical-align: middle;
        display: inline-block;
    }

    code {
        color: #f85b5b;
        font-size: 0.9em;
    }

    .wp-block-separator {border-bottom: 0;}

    /*==== Fix Code Space for h4s ====*/
    .fix-y-m {margin-top: -10px;}

    table {
        h1,h2,h3,h4,h5,h6,
        .h1,.h2,.h3 {margin-bottom: 0;}
    }
}

/*==== Table ====*/
.docs-table {
    font-size: 14px;
    background-color: #fff;
    border-radius: 5px;
    // overflow: hidden;

    code {font-size: 1em;}

    /*==== Table ====*/
    table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 5px;
    }

    /*==== Table Note ====*/
    figcaption {
        text-align: center;
        padding: 5px;
        color: var(--gray-color);
        font-size: 12px;
    }
    /*==== Table Columns ====*/
    td {
        padding: 5px 15px;
        border: 1px solid #eeeeee;
        img {margin: 8px auto;}
    }
    
    th {
        padding: 8px 15px;
        background-color: rgba(#000, 0.06);
        border: 1px solid #dadada;
        &:last-child {min-width: 100px;}
    }
}

//====> Enlighter Plugin <====//
.enlighter-default.enlighter-t-wpcustom {
    background-color: #101325;
    &:not(.enlighter-v-codegroup) {
        max-height: 400px;
        overflow-y: auto;
    }

    + pre + h4 {margin-top: -25px;}

    //====> Line Background <====//
    div.enlighter > div {
        background-color: inherit;
        &.enlighter-special{background-color: #191D40;}
    }

    div.enlighter > div > div {padding-left: 0;}

    /*==== Toolbar ====*/
    .enlighter-toolbar {
        /*==== Buttons ====*/
        .enlighter-btn {
            padding: 0;
            border: 0 none;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 5px;
            text-align: center;
            background-color: #181A2C;
        }

        /*==== Icons Font ====*/
        %icons-base {
            font-family: var(--icons-font);
            font-weight: 500;
        }

        /*==== Copy Button ====*/
        .enlighter-btn-copy::after {
            content: '\f0c5'!important;
            @extend %icons-base;
        }
        
        /*==== Raw Button ====*/
        .enlighter-btn-raw::after {
            content: '\f06e'!important;
            @extend %icons-base;
        }

        /*==== External Button ====*/
        .enlighter-btn-window::after {
            content: '\f14c'!important;
            @extend %icons-base;
        }

        /*==== Hide ====*/
        .enlighter-btn-website {display: none;}
    }
    
    //====> Block Mode <====//
    &.enlighter-v-standard {
        padding-top: 15px!important;
        padding-bottom: 15px!important;
        border-radius: 8px;
    }
    
    //====> Inline Mode <====//
    &.enlighter-v-inline {
        border-radius: 5px;
        vertical-align: middle;
        font-size: 12px;
        top: -2px;

        .enlighter span {
            font-size: inherit;
            line-height: inherit;
        }

        span.enlighter {padding: 2px 3px;}
    }

    &:not(.enlighter-v-inline) {margin-bottom: 40px;}

    /*==== Colors ====*/
    .enlighter-x2 {color: var(--secondary-color);}
    .enlighter-m0, .enlighter-m3 {color: #10a2ff;}

    .enlighter-x1 {
        color: var(--primary-color);
        font-weight: normal;
    }

    .enlighter-x11 {color: #eea766;}
    .enlighter-g1,.enlighter-x12 {color: #e7e7e7;}
    .enlighter-x12 {color: #e7e7e7;}
    .enlighter-k7 {color: #f35858;}

    .enlighter-k9,.enlighter-k0 {
        color: #c156fd;
        font-weight: var(--medium-weight);
    }

    //====> Enlighter Groups <====//
    &.enlighter-v-codegroup {
        border-radius: 8px;
        overflow: hidden;
        /*==== Code Wraper ====*/
        .enlighter-codegroup-wrapper {
            padding-top: 10px;
            max-height: 400px;
            overflow-y: auto;
        }
        /*==== Buttons ====*/
        .enlighter-codegroup-switch {
            background-color: #181c34;
            padding: 0;
            .enlighter-btn {
                border-radius: 0;
                background-color: #181c34;
                color: #7c809f;
                padding: 8px 15px;
                margin: 0;
                text-transform: capitalize;
                &.enlighter-active {
                    color: #FFF;
                    background-color: #101325;
                }
            }
        }

        .enlighter-codegroup-wrapper {padding-bottom: 15px;}
    }
}

/*==== Footer ====*/
.content-footer {
    display: block;
    text-align: center;
    background-color: #fcfcfc;
    margin-top: auto;
    font-size: 15px;
    padding: 8px 15px;
}

.post-card p {max-height: 84px;}

/*==== Grid Example ====*/
.grid-example {
    padding: 5px;
    border: 1px dashed rgba(#000, 0.1);
    background-color: #FFF;
    font-size: REM(14);
    /*==== Nested ====*/
    .lvl2-row {
        margin-top: 5px;
        [class*="col"] {background-color: #dfe8f5;}
    }

    /*==== Alignment Example ====*/
    &.alignment-example {
        .row, .grid-row {min-height: 80px;}
    }

    &.alignment-example-x2 {
        .row, .grid-row {min-height: 100px;}
    }

    /*==== Remove Gutter ====*/
    &:not(.gutter-example) {
        .row, .grid-row {
            @include grid_gap(0, 'x');
            > [class*="col"] {
                background-color: #eef4fc;
                border: 1px solid #FFF;
                @include padding-block(15px,'both');
                @include padding-inline(15px,'both');
            }
        }
    }

    /*==== Gutters Example ====*/
    &.gutter-example [class*="col"] .content-box {
        background-color: #eef4fc;
        border: 1px solid #FFF;
        @include padding-block(15px,'both');
    }
}

/*==== Show/Hide Effects ====*/
.sliding-example, .fading-example, .live-demo {
    /*==== Buttons ====*/
    .slide-btn, .fade-btn, .ex-btn {
        @extend %inline-block;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 8px;
        border-radius: 3px;
        background-color: var(--dark-color);
        color: #FFFFFF;
        font-size: 13px;
    }

    /*==== The Box ====*/
    .the-box {
        text-align: center;
        padding: 30px 15px;
        // line-height: 90px;
        border-radius: 3px;
        background-color: #f1e2ce;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/*==== RTL ====*/
body.rtl {
    /*==== Navigator ====*/
    .navigator-menu .control-wraper {
        /*==== Controler ====*/
        input {
            padding-left: 15px;
            padding-right: 50px;
        }
        /*==== Icon ====*/
        &::before {
            left: auto;
            right: 12px;
        }
    }
}

/*==== Timer Demo ====*/
.timer-demo {
    // padding: 20px;
    span[data-label] {
        line-height: 1.2;
        &::after {
            content: attr(data-label);
            font-size: 13px;
            display: block;
        }
    }

    &.px-timer-ended {
        padding: 20px;
        color: var(--danger-color);
    }
}

//*==== Change Headline Color When its Activated ====*/
.px-accordion .accordion-btn.px-collapse-active {
    color: var(--primary-color);
    background-color: var(--primary-offwhite);
}

/*===> Custom Angle Arrow Example <===*/
.px-breadcrumb.custom-angle {--divider-icon : '>';}

/*===> Custom Double Arrow Example <===*/
.px-breadcrumb.custom-arrows {--divider-icon : '»';}

/*===> Custom Font-Icon Example <===*/
.px-breadcrumb.custom-icon {--divider-icon : '\f101';}

@include large() {
    .megamenu-example > ul > li {padding-top: 6px;padding-bottom: 6px;}
};

/*==== Make the Current Active Slide More Visible then other Thumbnails ====*/
#thumbnails-example .px-item {transition: opacity 300ms linear;}
#thumbnails-example .px-item:not(.is-active) {opacity: 0.35;}
.has-text-align-center {text-align: center;}

/*==== Coloring the Current Active Card ====*/
#news-thumbnails .post-card {

    .bg-white {transition: all 300ms linear;}

    &.is-active .bg-white {
        color: #FFF;
        background-color: var(--primary-color);
    }
}

/*==== Landing Page ====*/
.hero-section.position-rv {
    > .container, > .container-xl {position: static;}
}

.px-primary-shadow {text-shadow: 3px 3px 0 rgba(13, 150, 249, 0.33);}
.px-tx-shadow {text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);}

.wait-for-it {
    background-size: 30% auto;
    background-position: 65% 35%;
    background-repeat: no-repeat;
    @include small('down') {background-size: 75% auto;}
}

.hero-section .view-status {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@include medium() {
    .you-in-control-before {padding-bottom: 150px;}
};

@include large() {
    .you-in-control-before {padding-bottom: 175px;}
};

@include xlarge() {
    .you-in-control-before {padding-bottom: 200px;}
};

.key-features {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% auto;
    @include small('down') {
        background-size: 75% auto;
    };
    ul li i {
        width: 1em;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }
}

@include small('down') {
    .tx-align-sm-center {text-align: center;}
};
