/*==== Core GB Fixes ====*/
@import 'patches/wordpress-int';

/*==== Theme Options ====*/
body:not(.wp-admin), #site-editor {
    /*==== Global ====*/
    --body-bg: #F7F9FC;

    /*==== Primary Color ====*/
    --primary-color: var(--wp--preset--color--primary);
    --primary-hover: var(--wp--preset--color--primary-hvr);
    --primary-reverse: var(--wp--preset--color--primary-txt);
    --primary-offwhite: var(--wp--preset--color--primary-offwhite);
    --primary-dark: var(--wp--preset--color--primary-dark);

    /*==== Secondary Color ====*/
    --secondary-color: var(--wp--preset--color--secondary);
    --secondary-dark: var(--wp--preset--color--secondary-dark);
    --secondary-hover: var(--wp--preset--color--secondary-hvr);
    --secondary-reverse: var(--wp--preset--color--secondary-txt);
    --secondary-offwhite: var(--wp--preset--color--secondary-offwhite);

    /*=== Assets Colors ====*/
    --links-color: var(--wp--preset--color--links);
    --info-color: var(--wp--preset--color--info);
    --gray-color: var(--wp--preset--color--gray);
    --dark-color: var(--wp--preset--color--dark);
    --success-color: var(--wp--preset--color--success);
    --danger-color: var(--wp--preset--color--danger);
    --warning-color: var(--wp--preset--color--warning);
    --disable-color: var(--wp--preset--color--disable);

    /*=== Assets Lighter ====*/
    --info-light: var(--wp--preset--color--info-offwhite);
    --gray-light: var(--wp--preset--color--gray-offwhite);
    --dark-light: var(--wp--preset--color--dark-offwhite);
    --success-light: var(--wp--preset--color--success-offwhite);
    --danger-light: var(--wp--preset--color--danger-offwhite);
    --warning-light: var(--wp--preset--color--warning-offwhite);

    /*=== Typography Colors ===*/
    --typography-color: var(--wp--preset--color--text);
}

/*==== Addtional Colors ====*/
.border-offwhite {border: 1px solid #E1EEF7;}
.bg-primary-dark {background-color: var(--primary-dark);}
.bg-secondary-dark {background-color: var(--secondary-dark);}
.color-primary-dark {background-color: var(--primary-dark);}
.color-secondary-dark {background-color: var(--secondary-dark);}

/*==== Addtional Fixes ====*/
.links-inherit a {color: inherit;}
.overlay-dark::before {opacity: 0.75;}
.btn {line-height: calc(var(--height) - 2px);}
.divider-b:last-child {border-bottom: 0 none;}

/*==== Colored icons ====*/
.icon-primary::before {color: var(--primary-color);}
.icon-secondary::before {color: var(--secondary-color);}

/*==== Header & Breadcrumb ====*/
.main-header.is-sticky {z-index: var(--header-index);}
.px-breadcrumb.custom-icon {--divider-icon : '\f101';}

/*==== Addtional UI ====*/
@import 'patches/custom-ui';

/*==== Docs Only ====*/
@import 'patches/docs_only';
