/*==== Editors Layers Panel ====*/
.edit-site-editor__list-view-panel {min-width: 250px;}
body.admin-bar {padding-top: 0!important;}

/*==== Fix View-Port Animation ====*/
.wp-admin .view-status {visibility: visible;}

/*==== Newsletter Fix ====*/
[name="newsletter[]"] {display:none!important;}

/*==== Honeypot Fix ====*/
[name*="honeypot"] {
	left: 100%;
	visibility:hidden;
	position: absolute;
}

/*===== REQUIRED CSS =====*/
.wp-caption, .gallery-caption {
	font-size:14px;
    margin-bottom: 15px;
    color:var(--gray-color);
}

.wp-caption-text {
    max-width:100%;
    @extend %nowrap;
    padding: 5px;
    background:var(--dark-light);
    color:var(--dark-reverse);
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.bypostauthor {@extend %reset-space;}

.alignleft {
	float: $direction;
	margin-#{$direction-end}: 1.5em;
}

.alignright {
	float: $direction-end;
	margin-#{$direction-start}: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*==== Table Block ====*/
.wp-block-table {
	overflow-x: auto;
	@include margin-inline(0);

	@include medium('down') {
		table {width:970px;}
	}
}
